<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Scrape News App</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="/clearall">Clear Articles</a></li>
        </ul>
    </div>
</nav>